thead {
    text-align: center;
    background-color: lightgreen;
    font-family: "Open Sans";
    font-weight: 600;
  }
  
  .data-row-odd {
    background-color: lightgrey;
    color: black;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  tr {
    text-align: center;
    padding: 5px;
  }
  .petro{
    background-color:rgb(16, 91, 126);
  }
  th {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
  }
  .pawlo{
    background-color: rgb(16, 91, 126);
  }
  td {
    border: 1px solid black;
    padding: 5px;
  }
  
  h1 {
    text-align: center;
    font-size: 22px;
  }
  
  .back-home-btn {
    font-style: italic;
  }
  
  h2 {
    text-align: center;
  }
  
  td:last-of-type {
    text-align: right;
  }
  
  /* desktop */
  @media (min-width: 992px) {
    th {
      font-size: 130%;
    }
  
    td {
      font-size: 120%;
    }
  }
  
  /* tablet */
  @media (min-width: 768px) and (max-width: 992px) {
    th {
      font-size: 120%;
    }
  
    td {
      font-size: 110%;
    }
  }
  
  /* mobile */
  @media (max-width: 768px) {
    th {
      font-size: 110%;
    }
  }
