
        body {
            text-align: center; 
        }

        h1 {
            font-size: 22px; 
        }

        p {
            font-style: italic; 
        }

        h2 {
            background-color: green; 
            color: white; 
            text-align: center; 
            font-weight: bold; 
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center; 
        }

        tr:nth-child(even) {
            background-color: lightgray;
        }

        tr:nth-child(odd) {
            background-color: lightyellow;
        }

        td:last-child {
            text-align: right; /* Right-align the last column */
        }
