
        body {
            text-align: center; /* Center-align the content */
        }

        h1 {
            font-size: 22px; /* Set font size to 22px */
        }

        p {
            font-style: italic; /* Make the "Назад на головну" text italic */
        }

        h2 {
            background-color: green; /* Set the background color to green */
            color: white; /* Set the text color to white */
            text-align: center; /* Center-align the h2 element */
            font-weight: bold; /* Make the text semi-bold */
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center; /* Center-align table cells */
        }

        tr:nth-child(even) {
            background-color: lightgray;
        }

        tr:nth-child(odd) {
            background-color: lightyellow;
        }

        td:last-child {
            text-align: right; /* Right-align the last column */
        }
