
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            font-size: 20px;
            margin-top: 20px; 
        }

        h2 {
            font-size: 20px;
            margin-top: 20px;
        }

        h3 {
            font-size: 18px;
            margin-top: 10px;
        }

        a {
            text-decoration: italic; 
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 20px auto; 
        }

        .center-align {
            text-align: center; 
        }

        .smaller-font {
            font-size: 70%; 
        }

        .bigger-font {
            font-size: 130%;
        }

        
        .image-caption {
            font-size: 14px;
            color: #444;
        }

       
        .content-block {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 10px;
            margin: 20px auto;
            text-align: left;
        }
